/*
.img {
    height: auto;
    width: 100%;
}

.img-1 {
    background: url("../img/restoclub/1.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-2 {
    background: url("../img/restoclub/2.jpg") no-repeat center;
    background-size: 100% auto;
}
.img-3 {
    background: url("../img/restoclub/3.jpg") no-repeat center;
    background-size: 100% auto;
}
.img-4 {
    background: url("../img/restoclub/4.jpg") no-repeat center;
    background-size: 100% auto;
}
.img-5 {
    background: url("../img/restoclub/5.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-6 {
    background: url("../img/restoclub/6.jpg") no-repeat center;
    background-size: 100% auto;
}
.img-7 {
    background: url("../img/restoclub/7.jpg") no-repeat center;
    background-size: 100% auto;
}
.img-8 {
    background: url("../img/restoclub/8.jpg") no-repeat center;
    background-size: 100% auto;
}
.img-9 {
    background: url("../img/restoclub/9.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-10 {
    background: url("../img/restoclub/10.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-11 {
    background: url("../img/restoclub/11.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-12 {
    background: url("../img/restoclub/12.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-13 {
    background: url("../img/restoclub/13.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-14 {
    background: url("../img/restoclub/14.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-15 {
    background: url("../img/restoclub/15.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-16 {
    background: url("../img/restoclub/16.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-17 {
    background: url("../img/restoclub/17.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-18 {
    background: url("../img/restoclub/18.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-19 {
    background: url("../img/restoclub/19.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-20 {
    background: url("../img/restoclub/20.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-21 {
    background: url("../img/restoclub/21.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-22 {
    background: url("../img/restoclub/22.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-23 {
    background: url("../img/restoclub/23.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-24 {
    background: url("../img/restoclub/24.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-25 {
    background: url("../img/restoclub/25.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-26 {
    background: url("../img/restoclub/26.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-27 {
    background: url("../img/restoclub/27.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-28 {
    background: url("../img/restoclub/28.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-29 {
    background: url("../img/restoclub/29.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-30 {
    background: url("../img/restoclub/30.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-31 {
    background: url("../img/restoclub/31.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-32 {
    background: url("../img/restoclub/32.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-33 {
    background: url("../img/restoclub/33.jpg") no-repeat center; 
    background-size: 100% auto;
}
.img-34 {
    background: url("../img/restoclub/34.jpg") no-repeat center; 
    background-size: 100% auto;
}

*/
